@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway";
}

.product {
    display: flex;
    justify-content: space-between;

}

.product .filter {
    position: fixed;
    top: 3rem;
    z-index: 1;
    background-color: #f5f5f5;
    min-width: 15vw;
    height: 100vh;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.filter-container {
    margin: 1.5rem 0;
    text-align: center;
}

.price-range-select {
    padding: 8px;
    border-radius: 4px;
    min-width: 8vw;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
}

.InfiniteScroll {
    position: relative;
    top: 10vh;
    left: 15vw;
}

.product .carditems {
    display: grid;
    width: 80vw;
    grid-template-columns: auto auto auto auto;
    margin: 1rem;
    gap: 1rem;
}

.card {
    display: flex;
    flex-flow: column;
    width: 20rem;
    height: 25rem;
    background: white;
    margin: 0 auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.3s;
}

.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.image {
    padding: .2rem;
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.image img {
    max-height: 9rem;
}

.description {
    height: 15rem;
    padding: 1.6rem;
    border-left: 2px solid #efefef;
}

.description>h1 {
    color: #515151;
    font-family: 'Poppins', sans-serif;
    height: 2.7rem;
    font-weight: 500;
    padding-top: .5rem;
    margin: 0;
    font-size: 1.6rem;
}

.description>h2 {
    color: #515151;
    margin: 0;
    height: 1.75rem;
    text-transform: uppercase;
    font-weight: 400;
}

.description>p {
    font-size: 12px;
    line-height: 20px;
    height: 5.75rem;
    color: #727272;
    padding: 1rem 0;
    margin: 0;
}

.button {
    height: 2rem;
}

button {

    outline: 0;
    border: 0;
    background: none;
    border: 1px solid #d9d9d9;
    padding: 8px 0px;
    color: #515151;
    text-transform: uppercase;
    width: 125px;
    font-family: inherit;
    margin-right: 5px;
    transition: all 0.3s ease;
    font-weight: 500;
}

button:hover {

    background: darken(white, 2%);
    border: 1px solid #aedaa6;
    color: #aedaa6;
    cursor: pointer;

}


/* Cart */
.cartpage {
    position: relative;
    top: 10vh;
    margin: 0 5vw;
}

#cart {
    overflow-x: auto;
}

#cart table {
    width: 1000px;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5x 10px 15px;
}

#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}


#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;

}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 13px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button {
    background-color: #2f3131;
    color: #fff;
    padding: 12px 20px;
    border: none;
}
#coupon button:hover{
    background-color: #000000;
}
#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}
#subtotal button {
    background-color: #2f3131;
    color: #fff;
    padding: 12px 20px;
    border: none;
    width: 50%;
}
#subtotal button:hover{
    background-color: #000000;
}

@media screen and (max-width: 1600px) {
    .InfiniteScroll {
        position: relative;
        top: 10vh;
        left: 15vw;
    }

    .product .carditems {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 1300px) {
    .InfiniteScroll {
        position: relative;
        top: 10vh;
        left: 15vw;
    }

    .product .carditems {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 600px) {
    .InfiniteScroll {
        position: relative;
        top: 10vh;
        left: 0;
        right: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .product {
        display: flex;
        justify-content: space-around;
    }

    .product .carditems {
        grid-template-columns: auto;

    }

    #logo {
        display: none;
    }

    #cart-add {
        flex-direction: column;
    }

    #coupon {
        width: 100%;
    }

    #subtotal {
        width: 100%;
        padding: 20px;
    }
}